@using VideoHosting.Models.Database.Entities.Sinthetic
@model IEnumerable<VideoPreviewInfo>

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row row-cols-auto justify-content-center">
        @foreach (VideoPreviewInfo preview in Model)
        {
            <div class="col video-preview-block">
                <a class="video-preview w-100 h-75" href="@Url.Action("Watch", "Video", new { pageId=preview.VideoPageId })">
                    <img src="@preview.GetThumbnailForPage()" class="video-preview-thumbnail"/>
                </a>
                <a class="video-preview-name cut-text" href="@Url.Action("Watch", "Video", new { pageId=preview.VideoPageId })">
                    @preview.VideoName
                </a>
                <div class="video-preview-author-views">
                    <div class="col-6 text-left cut-text" style="padding: 0px;">@preview.Author</div>
                    <div class="col-6 text-right cut-text" style="padding: 0px;">@preview.Views views</div>
                </div>
            </div>
        }
    </div>
</div>